<!DOCTYPE html>
<html>
<head>
	<title>Data Type Test</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" media="screen">

</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				<form>
					<fieldset>
						<legend></legend>
						<textarea id="myinput" name="myinput" class="span12" rows="10" ></textarea>
						<!-- <p><input type="button" value="input" onclick="getinput()"></input></p> -->
						<p><input type="button" value="JsontoString" id="json2string"></input></p>
						<p><input type="button" value="StringtoJson" id="string2json"></input></p>
						<a id="myvar"></a>
					</fieldset>
				<form>
			</div>
		</div>
	</div>
	<script src="/javascripts/jquery-1.9.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.json-2.4.js"></script>
	<script type="text/javascript" src="/javascripts/var.js"></script>
</body>
</html>